
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:"Poppins", sans-serif; 
}
body{
    background-color: black;
}

.main{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/6d20b198-e7ab-4e9f-a1aa-666faa0298f9/IN-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a67d8c9e-8121-4a74-98e4-8005eb2df227_large.jpg");
    background-position: center center;
    /* background-repeat: no-repeat; */
    background-size: max(1623px, 140vw);
    height: 100vh;
    position: relative;
}
 .main .box{
    width: 100%;
    opacity: 0.5912;
    position: absolute;
    top: -61px;
    height: 107vh;
    background-color: black;
 }
 nav{
    top: 34px;
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 65px;
 }
 nav img{
        color: red;
        width: 186px;
       position: relative;
       z-index: 10;
       top: 25px;
       right: 59px;
 }
 nav button{
    position: relative;
    z-index: 10;
 }
 .hero{
        font-family: "Martel Sans", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
 }

 .hero> :first-child{
    font-size: 55px;
     font-weight: 900;
     text-align: center;

    }
    
    .hero> :nth-child(2){
     font-weight: 400;
     font-size: 30px;
     text-align: center;
     gap: 23px;
 }
 .hero> :nth-child(3){
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    
 }
 .separation{
        height: 7.5px;
        background-color: rgb(35, 35, 35);
        position: relative;
        z-index: 20;
 }

 .btn-1{
    padding: 5px 50px 5px 8px;
    background-color: rgba(69, 68, 68, 0);
    color: white;
    border-radius: 6px;
    font-size: 23px;
    border: 0.1px solid rgb(143, 141, 141);
    cursor: pointer;
    transform: translateY(55%);
}

.btn-red{
    background-color: red;
    color: white;
    background-color: red;
    color: white;
    padding: 24px 36px 8px 28px;
    font-size: 45px;
    font-weight: 400;
    border-radius: 7px;
    
    
}
.btn-red-sm{
    padding: 11px 18px 8px 14px;
    border-radius: 6px;
    background-color: red;
    color: rgb(249, 245, 245);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(91, 89, 89);
    cursor: pointer;
  transform: translateX(30%) translateY(45%);

}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 43px 257px 12px 10px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(23,23,23,0);
    border: 1px solid rgba(240, 229, 229, 0.5);
    color: white;
    
}
.text{
    transform: translateY(300%);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    height: 84vh;
}
@media screen and (max-width: 1000px){
    
    .first{
        flex-wrap: wrap;
    }
    .main input{
        padding: 7px 53px 8px 14px;
    }
}
.secImg{
    position: relative;
}

.secImg img{
    width: px;
    position: relative;
    z-index: 10;
    
}
.secImg video{
    position: absolute;
    top: 97px;
    right: 91px;
}

.firImg{
    position: relative;
}

@media screen and (max-width: 1000px){
    .firImg img{
    /* width: 23vw;
    margin: 63px -282px -16px 144px;  */
    }
    .firImg video{
        width: 22vw;
        margin: 21px 8px -291px 108px; 
}
}
section.first > div{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 30px;
    padding: 0 15px;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
} 

section.first > div:first-child(2){
    font-size: 48px;  
}
.faq h2{
        color: white;
    text-align: center;
    padding: 34px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 48px;
    font-weight: 900;
    top: 45px;
}
.faq{
    background: black;
    color: white;
}
.faqbox:hover{
    background-color:#414141;
    padding: 24px;
 color: white
}
.faqbox{
   
 transition: all 1s ease-out;;
    display: flex;
    background-color: rgb(44, 42, 42);
    padding: 24px;
    max-width: 49vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

footer{
    color: white;
    /* text-align: center; */
    max-width: 60vw;
    margin: auto;
    padding: 34px;
   transform: translateX(10%);
}

.footer span{
    padding: 34px 0;

}
.footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width: 1000px){
    .footer{
        display: grid;
        grid-template-columns:  1fr 1fr;
        color: white;
    }

}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.box{

}